body{
    color: white;
}
.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player img{
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
    position: absolute;

}
.player_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
